<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Email Spam Detection</title>
</head>
<body>
<h1>Email Spam Detection</h1>
<div class="parent">
  <div class="center1">
      <form action="/detect" method="POST" id="form">
      <label for="subj" id="esub">Enter Subject:</label> <br>
      <input type="text" id="subj" name="subj"> <br><br><br>
          <label name="txt" id="em">Enter Email:</label> <br>
      <textarea  rows="20" cols="50" name="ta" id="ta" required></textarea><br>
          <input type="submit" value="Analyse" id="sub">
      </form>
  </div>
</div>

</body>
</html>